
.chat-container {
    background-color: #101010;
}

.chat-container.collapsed {
    height: 37px !important;
}

.chat-frame {
    width: calc(100% - 20px);
    height: calc(100% - 23px);
    padding: 10px;
    border: none;
}

.hidden {
    display: none;
}

.chat-selectors {
    padding-top: 15px;
    display: flex;
    border-bottom: 1px solid #70707080;
    margin: 0px 15px 0px 15px;
    position: relative;
    height: 22px;
}

.chat-selector {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.chat-selector-button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: white;
    opacity: .5;
    font: Bold 11px/15px Open Sans;
    text-transform: uppercase;
    letter-spacing: 0.11px;
    transition: opacity .2s;
}

.chat-selector-arrow {
    margin-top: 1px;
}

.chat-selector-button:hover {
    opacity: 1;
}

.chat-selector-button.active {
    opacity: 1;
}

.chat-selector-button:focus { 
    outline:none; 
}

.chat-contents {
    height: calc(100% - 38px);
    overflow: hidden;
}

.chat-content {
    height: 100%;
}

.chat-close {
    cursor: pointer;
    position: absolute;
    right: 0px;
    transition: filter .2s;
}

.chat-close:hover {
    filter: grayscale(1)
}

.chat-collapse-icon {
    transform: rotate(180deg) scale(1.2);
    filter: invert();
    position: absolute;
    right: 4px;
    top: 50%;
}

.chat-collapse-icon.collapsed {
    transform: rotate(-90deg) scale(1.2);
}

.collapsed .chat-selector {
    display: none;
}

.collapsed .chat-selectors {
    border-bottom: none;
}
