
.chat-container {
    background-color: #101010;
}

.chat-frame {
    width: calc(100% - 20px);
    height: calc(100% - 23px);
    padding: 10px;
    border: none;
}

.hidden {
    display: none;
}

.chat-selectors {
    padding-top: 15px;
    display: flex;
    border-bottom: 1px solid #70707080;
    margin: 0px 15px 0px 15px;
    position: relative;
}

.chat-selector {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.chat-selector-button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: white;
    opacity: .5;
    font: Bold 11px/15px Open Sans;
    text-transform: uppercase;
    letter-spacing: 0.11px;
    transition: opacity .2s;
}

.chat-selector-button:hover {
    opacity: 1;
}

.chat-selector-button.active {
    opacity: 1;
}

.chat-selector-button:focus { 
    outline:none; 
}

.chat-contents {
    height: calc(100% - 38px);
}

.chat-content {
    height: 100%;
}

.chat-close {
    cursor: pointer;
    position: absolute;
    right: 0px;
    transition: filter .2s;
}

.chat-close:hover {
    filter: grayscale(1)
}